<header>
  <div class="header_inner">
    <a href="/" id="logo">File Cabinet</a>
    <nav>
      <a href="/users/sign_in">Log In</a>
    </nav>
  </div>
</header>

<div id="banner">
  <div class="banner_content">
    <h1>File Cabinet</h1>
    <p>Your life's work. Organized, always</p>
    <button><%= link_to "Enter", new_user_registration_path, class: "button" %></button>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <h2>Go Ahead!</h2>
    <br>
    <button> <%= link_to "Join Now", new_user_registration_path, class: "button"%></button>
  </div>
</div>


<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Organize</h2>
        <p>Chartreuse ethical affogato ugh, tousled jianbing normcore meggings mlkshk enamel pin tofu irony knausgaard. IPhone polaroid jianbing vinyl. Cliche street art synth skateboard tote bag small batch craft beer. Swag narwhal YOLO, gentrify yr hoodie church-key godard photo booth chicharrones kombucha portland aesthetic.</p>
      </div>
    </div>
  </div>
</div>

